@import '../../variables.scss';
@import '../../mixins.scss';

.card {
  color: $color-card-text;
  margin-inline: 20px;
  max-width: 500px;
  padding: 20px;
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.5);

  @include breakpoint-md {
    margin-inline: 100px;
    margin-top: 100px;
  }
}

.title {
  font-size: 40px;
  font-weight: 900;
  padding-top: 15px;
  padding-bottom: 50px;

  @include breakpoint-md {
    font-size: 60px;
  }
}
