.button {
  font-weight: 600;
  border: 0;
  border-radius: 1.875rem;
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  &--primary {
    color: #5f3126;
    background-color: #eee0d5;
  }
  &--secondary {
    color: #eee0d5;
    background-color: #5f3126;
  }
  &--small {
    font-size: 0.75rem;
    padding: 1rem 1.5rem;
  }
  &--medium {
    font-size: 0.9rem;
    padding: 1.2rem 1.7rem;
  }
  &--large {
    font-size: 1.1rem;
    padding: 1.5rem 2rem;
  }
  &:hover {
    opacity: 0.9;
  }

  &[disabled] {
    color: #C9A09B;

    &:hover {
      opacity: 1;
    }
  }
}
