@import '../../variables.scss';
@import '../../mixins.scss';

.home {
  background-image: url('./img/homepage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  @include breakpoint-md {
    justify-content: flex-end;
    align-items: flex-start;
  }
}
